$color_black: #000;
$color_black_pale: #171717;
$color_black_light:#1F1F1F;
$color_grey: #666;
$color_white: #fff;

$font_roboto: "Roboto", Arial, Helvetica, sans-serif;
$font_poppins: "Poppins", Arial, Helvetica, sans-serif;

$weight_normal: 400;
$weight_bold: 700;
$weight_black: 900;

$bp_laptop: 1430px;
$bp_tablet: 1080px;
$bp_mobile: 900px;
$bp_mobile_xs: 680px;