@import "./inc/variables";

body {
  margin: 0;
  background: $color_black;
  color: $color_white;
  font-family: $font_roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 1px;
  z-index: 0;
  overflow-x: hidden;

  @media (max-width: $bp_mobile_xs) {
    font-size: 14px;
  }
}

.section {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: auto;

  &:after {
    content: "";
    display: block;
    clear: both;
  }

  @media (max-width: $bp_laptop) {
    margin: auto 7vw;
  }

  @media (max-width: $bp_tablet) {
    margin: auto 5vw;
  }

  @media (max-width: $bp_mobile_xs) {
    margin: auto 1rem;
  }
}

.align {
  &-left {
    margin-right: auto;
  }

  &-center {
    margin-left: auto;
    margin-right: auto;
  }

  &-right {
    margin-left: auto;
  }
}

.text {
  &-right {
    text-align: right;
  }

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }
}

a, a:link, a:visited {
  color: $color_white;
}

button {
  border: none;
  padding: 1rem 2.5rem;
  margin: 0;
  vertical-align: middle;
  letter-spacing: 1px;
  font-family: $font_roboto;
  cursor: pointer;
  background: $color_black_light;
  color: $color_white;
  border-radius: 30px;
  box-shadow: 0 0 60px $color_black;
  text-transform: uppercase;
  font-weight: $weight_black;
  letter-spacing: 2px;

  &:hover {
    background: $color_black_pale;
  }
}

img {
  vertical-align: middle;
}

.section-title {
  font-size: 15vw;
  margin: 8vw 0 -4vw;
  color: #141414;
  font-family: $font_poppins;
  vertical-align: middle;
  line-height: 1;
  position: relative;
  z-index: -1;

  &--right {
    text-align: right;
  }

  @media (max-width: $bp_mobile) {
    font-size: 15vw;
  }
}

.slider {
  &__controller {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: .9rem;

    &-text {
      margin-right: 1rem;
      font-weight: $weight_black;
      letter-spacing: 2px;
    }

    &-prev, &-next {
      margin: 0 2px;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;

      img {
        height: .9rem;
        width: .9rem;
      }
    }
  }
}

/* PRIMARY HEADER */
.primary-header {
  position: absolute;
  left: 0;
  right: 0;
  padding: 1.875rem 0;
  z-index: 10;

  .share-widget {
    position: fixed;
    left: 2rem;
    top: 0;
    transform: rotate(90deg);
    transform-origin: bottom left;
    display: flex;
    align-items: center;

    &__nav {
      display: flex;
    }

    &__text {
      display: inline-block;
      margin-right: .5rem;
      text-transform: uppercase;
      flex: 1;
      font-size: .8rem;
    }

    &__nav-item {
      margin: 0 .75rem;
      border-radius: 50%;
      border: 2px solid $color_white;
      display: inline-block;
      height: 36px;
      width: 36px;
      transform: rotate(-90deg);
      position: relative;

      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 1rem;
        max-width: .75rem;
      }
    }

    @media (max-width: $bp_laptop) {
      left: 2vw;

      &__nav-item {
        height: 30px;
        width: 30px;
        margin: 0 .5rem;

        img {
          padding: 1px;
        }
      }
    }

    @media (max-width: $bp_tablet) {
      left: 10px;

      &__nav-item {
        height: 24px;
        width: 24px;

        img {
          padding: 2px 1px;
        }
      }
    }

    @media (max-width: $bp_mobile) {
      display: none;
    }

    @media (max-width: $bp_mobile_xs) {
      left: 5px;
    }
  }

  .main-navigation {
    clear: both;

    &:after {
      content: "";
      display: block;
      clear: both;
    }

    ul {
      padding: 0;
      margin: auto;
      list-style: none;
    }

    .menu-item {
      display: inline-block;
      position: relative;
      padding: 0;
      margin-left: 5px;

      a {
        display: block;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          opacity: .7;
        }
      }
    }

    .mobile-menu-close {
      float: right;
      display: none;

      @media (max-width: $bp_mobile) {
        display: block;
      }
    }

    .mobile-menu-close {
      float: right;
      cursor: pointer;
      align-self: flex-end;
      margin: 2rem 5vw 0;

      @media (max-width: $bp_mobile_xs) {
        margin: 2rem 1rem;
      }
    }

    @media (max-width: $bp_mobile) {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 100%;
      right: 0;
      background: $color_black_pale;
      z-index: 999999;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      transition: left .15s ease;

      ul {
        display: block;
      }

      .menu-item {
        display: block;
        text-align: center;
        margin: auto;
        font-size: 2rem;
        padding: 5% 0;

        a:hover {
          border-color: transparent;
        }
      }

      &.show-menu {
        left: 0%;
      }
    }
  }

  .mobile-menu-toggle {
    display: none;
    float: right;
    cursor: pointer;
    color: $color_white;

    @media (max-width: $bp_mobile) {
      display: block;
    }
  }


  &__nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: auto;
    padding: 0;

    .menu-item {
      margin: 0;
      font-weight: $weight_black;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: .9rem;
      margin-right: 4%;

      &:last-child {
        margin: 0;
      }
    }

    a {
      text-decoration: none;
    }
  }

}

/* HERO SECTION */
.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: #9FEFF6;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &:after {
    content: "";
    height: 10rem;
    background: linear-gradient(to top, $color_black, transparent);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }

  &__headline {
    position: relative;
    top: -15vw;
    color: $color_white;
    opacity: .4;
    font-family: $font_poppins;
    z-index: 1;
  }

  &__overlay-img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
    z-index: 2;
  }

  @media (max-width: $bp_laptop) {
    &__headline {
      font-size: 15vw;
      top: -25vw;
    }
  }

  @media (max-width: $bp_mobile) {
    height: 640px;

    &__headline {
      top: -15vw;
    }
  }

  @media(max-width: $bp_mobile_xs) {
    height: 480px;
  }
}


/* PEOPLE SECTION */
.people {
  z-index: 1;

  &__list {
    display: flex;
    width: 180%;
  }

  &-item {
    // margin-right: 2.5rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0 35px $color_black;
    background: $color_black_pale;
    width: 24vw;
    text-align: center;

    &__img img {
      width: 100%;
    }

    &__info {
      padding: 2rem;
    }

    &__headline {
      font-size: 1.2rem;
      margin-bottom: 1rem;
      font-family: $font_poppins;
      font-weight: $weight_bold;
    }

    &__btn {

      width: 70%;
      max-width: 200px;
    }
  }


  .slick-list {
    overflow: initial;
  }

  .slick-slide {
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: $bp_laptop) {
    &-item {

      &__info {
        padding: 1.4rem 1.2rem;
      }

      &__headline {
        font-size: 1rem;
      }

      &__btn {
        font-size: .7rem;
        width: 100%;
      }
    }
  }

  @media (max-width: $bp_mobile) {
    .slick-slide {
      margin-right: 1rem;
    }

    &-item {
      width: 40vw;
    }
  }

  @media (max-width: $bp_mobile_xs) {
    &-item {
      width: 300px;
    }
  }
}

/* PLACES SECTION */
.places {
  &-item {
    position: relative;
    margin-bottom: 6rem;

    &__img {
      width: 75%;
      margin-left: auto;

      img {
        display: block;
      }
    }

    &__content {
      position: absolute;
      bottom: 5rem;
      text-shadow: 0 0 1.5rem $color_black_light;
    }

    &__headline {
      font-size: 6.5rem;
      margin: auto;
      font-family: $font_poppins;
      line-height: 1.1;
    }

    &__text {
      max-width: 50%;
    }

    &--alt {
      .places-item {
        &__content {
          max-width: 50%;
          right: 0;
        }

        &__img {
          margin: 0;
        }

        &__text {
          max-width: initial;
        }
      }
    }
  }

  @media (max-width: $bp_laptop) {
    &-item {
      &__headline {
        font-size: 6vw;
      }
    }
  }

  @media (max-width: $bp_tablet) {
    &-item {
      &__content {
        bottom: 2vw;

      }

      &__text {
        max-width: 60%
      }

      &__headline {
        font-size: 4rem;
      }

      &--alt {
        .places-item {
          &__content {
            max-width: 75%;
          }
        }
      }
    }
  }

  @media (max-width: $bp_mobile) {
    &-item {
      margin-bottom: 0;

      &__content {
        max-width: 100%;
        position: relative;
        max-width: 97%;
        top: -4.5rem;
      }

      &__img {
        width: 80%;
      }

      &__headline {
        font-size: 3.5rem;
      }

      &__text {
        max-width: 100%;
      }

      &--alt {
        .places-item__content {
          max-width: 97%;

        }
      }
    }
  }

  @media (max-width: $bp_mobile_xs) {
    &-item {
      &__headline {
        font-size: 2.25rem;
      }

      &__content {
        top: -2.75rem;
      }
    }
  }
}

/* GALLERY SECTION */
.gallery {
  .slick-list {
    margin-top: 7.5vw;
    overflow: initial;
  }

  .slick-slide {
    transition:
      bottom .5s .5s ease,
      transform .5s .5s ease;
    position: relative;
    z-index: 0;
    bottom: 0;
    transform-origin: bottom;
    transform: scale(1);
  }

  .slick-center {
    transform: scale(1.1);
    bottom: 2rem;
    z-index: 2;
    box-shadow: 0 0 3rem rgba($color_black, .6);
  }

  @media (max-width: $bp_tablet) {
    .slick-list {
      margin-top: 9vw;
    }
  }

  @media (max-width: $bp_mobile) {
    .slick-list {
      margin-top: 6rem;
    }

    .slick-center {
      transform: scale(1.15);
    }
  }

  @media (max-width: $bp_mobile_xs) {
    .slick-list {
      margin-top: 4.5rem;
    }
  }
}


/* POPUP */
.pop {
  @at-root body.noScroll {
    overflow-y: hidden;
  }

  @at-root body.blurred {
    .section {
      filter: blur(3px);
    }
  }

  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-content: center;

  &__body {
    max-width: 800px;
    margin: auto;
  }

  &__close {
    font-size: .8rem;
  }

  .person-pop {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    background: $color_black_pale;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba($color_black, .6);

    &__img {
      width: 50%;
      overflow: hidden;
      height: 0;
      padding-bottom: 65%;
      position: relative;

      img {
        margin: auto;
        height: 100%;
        max-width: initial;
        position: absolute;
        top: 0;
        left: -50%;
        right: -50%;
        bottom: 0;
        margin: auto;
      }
    }

    &__headline {
      margin-top: 0;
    }

    &__content {
      width: 50%;
      padding: 2rem;
    }
  }

  @media(max-width: $bp_laptop) {
    &__body {
      margin: auto 1rem;
    }
  }

  @media (max-width: $bp_mobile_xs) {
    &__body {
      max-width: 90%;
    }

    .person-pop {
      display: block;

      &__img {
        width: 100%;
        padding: 0;
        display: none;

        img {
          height: auto;
        }
      }

      &__content {
        width: 100%;
      }
    }
  }
}



/* FOOTER SECTION */
.site-footer {
  background: $color_black_pale;
  color: $color_grey;
  margin-top: 8vw;
  padding: 1rem 0;
  font-size: 14px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo img {
    max-height: 400px;
  }

  &__copyright {
    text-align: right;
    flex: 1;
  }

  @media (max-width: $bp_mobile) {
    .container {
      flex-direction: column;
    }

    &__copyright {
      margin-top: 1rem;
      text-align: center;
    }
  }
}